.login-container {
  width: 380px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 12px;
  background: #434040;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  height: 45px;
}
