.register-container {
  width: 450px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background: #333131;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-container input {
  height: 45px;
}
